$color-primary: #7efeff;

.projects {
	&__header {
		display: flex;
		flex-direction: row;
		width: 100vw;
		height: 15vh;
		align-items: center;
		justify-content: center;

		font-size: 2.75rem;
		letter-spacing: 0.17rem;
		text-shadow: 0.5px 0.5px 1.5px white;
		border-bottom: 0.15rem solid white;

		animation: fadeIn ease-in 1s;

		@media (max-width: 600px) {
			height: 12.5vh;
		}
	}

	&__container {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-gap: 0.1rem;
		width: 100vw;
		height: 75vh;

		@media (max-width: 600px) {
			height: 77.5vh;
		}

		&-grid {
			display: grid;
			grid-template-columns: repeat(4, 1fr);

			width: 100vw;
			height: 37.5vh;

			font-size: 1.2rem;
			letter-spacing: 0.15rem;
			text-shadow: 0.5px 0.5px 1.5px white;

			@media (max-width: 600px) {
				display: grid;
				grid-template-columns: repeat(2, 1fr);

				width: 100vw;
				height: 77.5vh;
			}
		}
	}
}

.grid-hide {
	@media (max-width: 600px) {
		display: none;
	}
}

.img-1 {
	filter: blur(0.05rem) brightness(80%);
	background: url(../../images/kahuna_screen.png);
	background-size: 25vw 37.5vh;
	transition: all 200ms ease-in;

	@media (max-width: 600px) {
		background-size: 50vw 38.75vh;
	}

	&:hover {
		transition: all 0.35s ease-in;
		filter: blur(0rem) brightness(100%);
		background: url(../../images/kahuna_screen.png);

		// transition: 0.2s ease-in;
		background-size: 25.5vw 38vh;
	}
}

.img-2 {
	filter: blur(0.05rem) brightness(80%);
	background: url(../../images/React-screen.png);
	background-size: 25vw 37.5vh;

	@media (max-width: 600px) {
		background-size: 50vw 38.75vh;
	}

	&:hover {
		transition: all 0.35s ease-in;
		filter: blur(0rem) brightness(95%);
		background: url(../../images/React-screen.png);

		// transition: 0.2s ease-in;
		background-size: 25.5vw 38vh;
	}
}

.img-3 {
	filter: blur(0.05rem) brightness(80%);
	background: url(../../images/Crown-Screen.png);
	background-size: 25vw 37.5vh;

	@media (max-width: 600px) {
		background-size: 50vw 38.75vh;
	}

	&:hover {
		transition: all 0.35s ease-in;
		filter: blur(0rem) brightness(95%);
		background: url(../../images/Crown-Screen.png);

		// transition: 0.2s ease-in;
		background-size: 25.5vw 38vh;
	}
}

.img-4 {
	filter: blur(0.05rem) brightness(80%);
	background: url(../../images/CK-Screen.png);
	background-size: 25vw 37.5vh;

	@media (max-width: 600px) {
		background-size: 50vw 38.75vh;
	}

	&:hover {
		transition: all 0.35s ease-in;
		filter: blur(0rem) brightness(95%);
		background: url(../../images/CK-Screen.png);

		// transition: 0.2s ease-in;
		background-size: 25.5vw 38vh;
	}
}

.img-5 {
	filter: blur(0.05rem) brightness(80%);
	background: url(../../images/GF-Screen.png);
	background-size: 25vw 37.5vh;

	@media (max-width: 600px) {
		background-size: 50vw 38.75vh;
	}

	&:hover {
		transition: all 0.35s ease-in;
		filter: blur(0rem) brightness(95%);
		background: url(../../images/GF-Screen.png);

		// transition: 0.2s ease-in;
		background-size: 25.5vw 38vh;
	}
}

.img-6 {
	filter: blur(0.05rem) brightness(80%);
	background: url(../../images/natours_screen.png);
	background-size: 25vw 37.5vh;

	@media (max-width: 600px) {
		background-size: 50vw 38.75vh;
	}

	&:hover {
		transition: all 0.35s ease-in;
		filter: blur(0rem) brightness(95%);
		background: url(../../images/natours_screen.png);

		// transition: 0.2s ease-in;
		background-size: 25.5vw 38vh;
	}
}

.img-7 {
	filter: blur(0.05rem) brightness(80%);
	background: url(../../images/expenses.png);
	background-size: 25vw 37.5vh;

	@media (max-width: 600px) {
		background-size: 50vw 38.75vh;
	}

	&:hover {
		transition: all 0.35s ease-in;
		filter: blur(0rem) brightness(95%);
		background: url(../../images/expenses.png);

		// transition: 0.2s ease-in;
		background-size: 25.5vw 38vh;
	}
}

.img-8 {
	filter: blur(0.05rem) brightness(80%);
	background: url(../../images/phonos.png);
	background-size: 25vw 37.5vh;

	@media (max-width: 600px) {
		background-size: 50vw 38.75vh;
	}

	&:hover {
		transition: all 0.35s ease-in;
		filter: blur(0rem) brightness(95%);
		background: url(../../images/phonos.png);

		// transition: 0.2s ease-in;
		background-size: 25.5vw 38vh;
	}
}
