* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
	color: white;
}

.background {
	background: linear-gradient(
			to top,
			rgba(0, 0, 0, 0) 39%,
			rgba(0, 0, 0, 0) 41%,
			rgba(0, 0, 0, 0.65) 100%
		),
		url(../../images/showcase.jpeg);
	background-size: 100%, cover;
	background-position: center, center;
	width: 100vw;
	height: 100vh;
	position: relative;

	animation-delay: 1.5s;
}
